<div class="categories-wrapper">
  <div class="icon basic">
    <div class="tooltip">Basic</div>
    <span><i class="fas fa-b"></i></span>
  </div>
  <div class="icon standard">
    <div class="tooltip">Standard</div>
    <span><i class="fas fa-s"></i></span>
  </div>
  <div class="icon pro">
    <div class="tooltip">Pro</div>
    <span><i class="fas fa-p"></i></span>
  </div>
</div>
