<div class="frame card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <details>
      <summary>Internal and external review of the vehicle</summary>
      <p> Comprehensive diagnosis of the interior and exterior of the vehicle. During the assessment, items such as seat belts,
      lighting and upholstery are examined. In addition, more than 80 check points for damage to the exterior, including mechanical and bodywork elements, are also analyzed.</p>
    </details>
  </div>
</div>

<div class="frame card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <details>
      <summary>Driving tes</summary>
      <p> During the process, a test drive of at least 10 minutes will be carried out, to test mechanical elements of the vehicle such as:
      the state of the battery and starter, steering, suspension, brakes, engine, clutch and gearbox, among others.</p>
    </details>
  </div>
</div>

<div class="frame card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <details>
      <summary>Diagnostic machine test</summary>
      <p> Vehicle diagnosis test to detect possible errors or faults in the engine, gearbox, ABS, Airbag and injectors, among other points.
      This way you'll get the most complete and detailed report on the condition of the vehicle.</p>
    </details>
  </div>
</div>
