<div class="frame card-product">
  <img src="https://res.cloudinary.com/dhoecmw9w/image/upload/v1646838150/xyngbh16mblnjnngcy8s.svg">
  <div class="card-product-infos .accordion-card-header">
    <details>
      <summary>Internal and external review of the vehicle</summary>
      <p>During the assessment, items such as seat belts, lighting and upholstery are examined.
      Additionally, more than 80 check points for damage to the exterior, including mechanical and bodywork elements, are also analysed.</p>
    </details>
  </div>
</div>

<div class="frame card-product">
  <img src="https://res.cloudinary.com/dhoecmw9w/image/upload/v1646838134/tx2vnhegax4yscpvhygf.svg">
  <div class="card-product-infos">
    <details>
      <summary>Driving test</summary>
      <p> During the process, a test drive of at least 10 minutes will be carried out, to test mechanical elements of the vehicle such as:
      the state of the battery and starter, steering, suspension, brakes, engine, clutch and gearbox, amongst others.</p>
    </details>
  </div>
</div>

<div class="frame card-product">
  <img src="https://res.cloudinary.com/dhoecmw9w/image/upload/v1646838102/pznydgtmykisifblfx76.svg">
  <div class="card-product-infos">
    <details>
      <summary>Diagnostic machine test</summary>
      <p> Vehicle diagnostic test to detect possible errors or faults in the engine, gearbox, ABS, airbag and injectors, and more.
      This way you'll get the most complete and detailed report on the condition of the vehicle.</p>
    </details>
  </div>
</div>
