// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;


$color: #6D378E;
$dark-color: darken($color, 20%);

$background-color: #ffffff;
$font-color: darken($color, 50%);

// GRAYS

$light-color: rgb(212, 212, 212);
$sublte-gray: $light-color;
$dark-gray: darken(rgb(212, 212, 212), 60%);
$gray: darken(rgb(212, 212, 212), 35%);

// BORDERS
$subtle: 1px solid $background-color;
$border: 1px solid;

// SHADOWS
$shadow: 0 3px 7px #dfdfdf;

$box-shadow: 8px 8px 16px #d6d6d6,
-8px -8px 16px #ffffff;;

$inverted-shadow:  inset 5px 5px 6px #cdcacf,
                    inset -5px -5px 6px #ffffff;
$pressed-shadow: inset 8px 8px 16px #d6d6d6,
inset -8px -8px 16px #ffffff;

$concave: 8px 8px 16px #d6d6d6,
-8px -8px 16px #ffffff;
$concave-bg: linear-gradient(145deg, #e6e6e6, #ffffff);
