// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;


$color: #6D378E;
$dark-color: darken($color, 20%);

$background-color: white;
$font-color: darken($color, 50%);

// GRAYS

$sublte-gray: $background-color;
$dark-gray: darken(rgb(212, 212, 212), 60%);
$gray: darken(rgb(212, 212, 212), 35%);
$light-color: rgb(212, 212, 212)

// BORDERS
$subtle: 1px solid $background-color;
$border: 1px solid;

// SHADOWS
$shadow: 0 3px 7px #dfdfdf;
$color-shadow: rgba(#6D378E, 12%) 0px 6px 16px;
$box-shadow: ($gray, 0.12) 0px 6px 16px;

$box-shadow:  5px 5px 20px #726d74,
             -5px -5px 20px #ffffff;
