.show-container {
  height: 80vh;
  padding: 0 200px;
  margin: 0 auto;
}



// .show-body .undertitle {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }
//  .show-card-book {
//   display: flex;
//   justify-content: space-between;
//   color: $color;
//   text-align: center;
//   padding: 30px;
//  }
// .container a {
//   text-decoration: none;
// }
// .service-img {
//   align-items: center;
//   display: flex;
//   justify-content: center;
// }
