.show-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: min-content;
  h2 {
    text-align: center;
  }
}

.showmap {
  max-width: 400px;
  border-radius: 15px;
  box-shadow: $shadow;
  height: 400px;
  justify-content: right;
}

.show-body .undertitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 .show-card-book {
  display: flex;
  justify-content: space-between;
  color: $color;
  text-align: center;
  padding: 30px;
 }
.container a {
  color: $color;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: $dark-color;
  }
}
.service-img {
  align-items: center;
  display: flex;
  justify-content: center;
}
