<div class="container">
  <% if @message %>
    <%= link_to "Create a service", new_service_path, class: "grey-button" %>
    <h3 class="my-5"> <%= @message %> </h3>
  <% else %>
    <% @bookings = @bookings.sort_by {|obj| obj.date } %>
    <% pending = @bookings.select do |booking| %>
      <% booking.state == 0 %>
    <% end %>
    <% confirmed = @bookings.select do |booking| %>
      <% booking.state == 1 %>
    <% end %>
    <% declined = @bookings.select do |booking| %>
      <% booking.state == -1 %>
    <% end %>
    <% if pending.any? %>
      <div class="title-frame">
        <h2> Pending Bookings </h2>
      </div>
      <% pending.each do |booking| %>
        <div class="frame position-rel">
          <%= render "booking_dashboard_card_expert", booking: booking %>
        </div>
      <% end %>
    <% end %>
    <% if confirmed.any? %>
      <div class="title-frame">
        <h2> Confirmed Bookings </h2>
      </div>
      <% confirmed.each do |booking| %>
        <div class="frame position-rel">
          <%= render "booking_dashboard_card_expert", booking: booking %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
