<div class="logged-banner-wrapper">
  <div class="banner mb-3">
    <div class= "banner-header">
      <% if current_user.expert == false %>
        <h3>Get the peace of mind you need before you buy</h3>
        <%= render "shared/search_bar" %>
      <% else %>
        <% if current_user.service.nil? %>
          <h3>Specialists make Wheelp, Wheelp</h3>
          <%= link_to "Create service", new_service_path, class: "action-button" %>
        <% end %>
      <% end %>
    </div>
    <div class="banner-card">
      <img src="https://res.cloudinary.com/dhoecmw9w/image/upload/v1646838038/zktxobwpnq7ukg02yl1w.svg">
      <div class="banner-text">
        <h4> Quick, easy and secure online verification of a vehicle's condition from our network of highly-trained Wheelpers. </h4>
        <%= link_to "explore wheelpers", wheelpers_path, class: "cta-button hvr-pulse-grow" %>
      </div>
    </div>
  </div>
</div>
