<div class="wrapper">
  <div class="banner mb-3">
    <div class= "banner-header">
      <% if current_user.expert == false %>
        <h3>Get the peace of mind you need before you buy</h3>
        <%= render "shared/search_bar" %>
      <% else %>
        <h3>Specialists make Wheelp, Wheelp</h3>
        <%= link_to "Create service", new_service_path, class: "blended-button" %>
      <% end %>
    </div>
    <div class="banner-card">
      <%= cl_image_tag("wheelp/TDV_M115_05_msexyv.svg", crop: :fill) %>
      <div class="banner-text" >
        <h4> Quick, easy, and secure online verification of a vehicle's condition from our network of highly-trained wheelpers. </h4>
        <%= link_to "explore wheelpers", new_user_registration_path, class: "cta-button hvr-pulse-grow" %>
      </div>
    </div>
  </div>
</div>
