<% if @message %>
  <h3> <%= @message %> </h3>
  <%= link_to "Find an expert", services_path, class: "link" %>
<% else %>
  <% @bookings.each do |booking| %>
    <%= render "shared/booking_dashboard_card_customer", booking: booking %>
  <% end %>
  <%= link_to "Find an expert", services_path, class: "link" %>
<% end %>
