<div class="footer">
  <div class="contact-message">
    <ul style="list-style: none;">
    <li> Do you need some assistance? </li>
    <li> Please contact us on any of the forums below, 9am - 5pm, Monday to Friday. </li>
    </ul>
  </div>
    <div class="footer-contact">
    <a href="#"><i class="fab fa-whatsapp"></i></a>
    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>

  </div>
  <div class="footer-copyright">
    &copy; Copyright 2022-2022 Wheelp.com Limited. All rights reserved.
    Wheelp.com Limited, registered in England with number 020 7729 0146
    Shoreditch Stables, North, 138 Kingsland Road, London, E2 8DY
  </div>
    <div class="footer-links">
    <p>&copy; Wheelp.com Limited</p>
    <div class='footer-links-socials'>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</div>
