<div class="container">
  <div class="process">
    <div class="homecard left">
      <div class="number">
        <p>1</p>
      </div>
      <div class = "text">
        <h2>Look for WHEELPERS around the vehicle. </h2>
        <p>Decide which service will be more wheelpulf to you. We have different categories of wheelpers:
        EXPERTS, ENTHUSIASTS, BRAND TECHNICIANS or MECHANICS.</p>
      </div>
    </div>
    <div class="homecard right">
      <div class="number">
        <p>2</p>
      </div>
      <div class = "text">
        <h2>Book a day to have the vehicle checked.</h2>
        <p>You don't need to go anywhere to check the condition of the vehicle. Just select a day based on the
        availability of the wheelper of your choice and receive confimation from them.</p>
      </div>
    </div>
    <div class="homecard left">
      <div class="number">
        <p>3</p>
      </div>
      <div class = "text">
        <h2>Wheelper will take care of the rest.</h2>
        <p> Just wait for the evaluation report from the wheelper. It will be available in no longer than 24h
        after your selected date but you can contact the wheelper whenever you need.</p>
      </div>
    </div>
  </div>
</div>
