<div class="container">
  <div class="homepage_cards">
    <div class="homecard-left">
      <div class="illustration">
        <%= cl_image_tag("wheelp/TDV_M115_03_pw5lht.svg", width: 400, crop: :fill, flags: "sanitize") %>
      </div>
      <div class = "text">
        <h2>Internal and external review of the vehicle </h2>
        <p>Comprehensive diagnosis of the interior and exterior of the vehicle. During the assessment, items such as seat belts,
        lighting and upholstery are examined. In addition, more than 80 check points for damage to the exterior, including mechanical and bodywork elements, are also analysed.</p>
      </div>
    </div>
    <div class="homecard-right">
      <div class="illustration">
        <%= cl_image_tag("wheelp/TDV_M115_010_jh7nmu.svg", width: 400, crop: :fill, flags: "sanitize", alt: "wheelper illustration internal and external review of the vehicle") %>
      </div>
      <div class = "text">
        <h2>A Wheelper will carry out a driving test for you </h2>
        <p>During the process, a test drive of at least 10 minutes will be carried out, to test mechanical elements of the vehicle such as:
         the state of the battery and starter, steering, suspension, brakes, engine, clutch and gearbox, amongst others.</p>
      </div>
    </div>
    <div class="homecard-left">
      <div class="illustration">
        <%= cl_image_tag("wheelp/TDV_M115_02_z0g7w5.svg", width: 400, crop: :fill, flags: "sanitize") %>
      </div>
        <%# <img src="" alt="wheelper illustration internal using diagnostic machine in the vehicle"> %>
      <div class = "text">
        <h2>Diagnostic machine test</h2>
        <p> Some <mark>  PRO WHEELPERS </mark> (technicians and mechanics), are able to carry out a vehicle diagnostic test to detect possible errors or faults in the engine, gearbox, ABS, Airbag and injectors, amongst others.
         In this way you'll get the most complete and detailed report on the condition of the vehicle.</p>
      </div>
    </div>
  </div>
</div>
