<div class="container">
  <div class="homecard-left">
    <div>
      <h2>Buying a used vehicle can be a daunting task</h2>
      <p>We understand the importance of trust in second-hand market and we work with a network of experts to help buyers feel confident in their purchase.</p>
    </div>
    <div>
      <%= image_tag("https://cutewallpaper.org/22/van-life-wallpapers/889731564.jpg", width: 400, height: 300)%>
    </div>
  </div>
  <div class="homecard-right">
    <div>
      <h2> Have a vehicle of your choice checked by an expert from the comfort of your home.</h2>
      <p>Quick, easy, and secure online verification of a vehicle's condition from our network of highly-trained experts from the comfort of your home.</p>
    </div>
    <div>
      <%= image_tag("https://cutewallpaper.org/22/van-life-wallpapers/889731564.jpg", width: 400, height: 300)%>
    </div>
  </div>
  <div class="homecard-left">
    <div>
      <h2> Avoid the hassle and the expense of attending the viewing</h2>
      <p> No more unpleasant surprises easy, quick and certified mechanics review your vehicle </p>
    </div>
    <div>
      <%= image_tag("https://cutewallpaper.org/22/van-life-wallpapers/889731564.jpg", width: 400, height: 300)%>
    </div>
  </div>
  <div class="homecard-right">
    <div>
      <h2>Get a detailed report about the vehicle you are interested in buying</h2>
      <p>Don't second guess your decision on the quality of the vehicle. Avoid unseen future issues </p>
    </div>
    <div>
      <%= image_tag("https://cutewallpaper.org/22/van-life-wallpapers/889731564.jpg", width: 400, height: 300)%>
    </div>
  </div>
</div>
