<div class="info-banner">
  <div class="text">
    <p> Wheelpers will place themselves impartially between the buyer and the seller
    carry out a full and accurate assessment on the vehicle's condition.</p>
  </div>
</div>
