<div class="banner-wrapper">
  <div class="banner">
    <div class="banner-card">
      <img src="https://res.cloudinary.com/dhoecmw9w/image/upload/v1646838038/zktxobwpnq7ukg02yl1w.svg">
      <div class="banner-text" >
        <h4> Avoid the hassle and uncertainty... get an evaluation on the condition of the vehicle from the comfort of your home. </h4>
        <%= link_to "Sign up", new_user_registration_path, class: "cta-button" %>
      </div>
    </div>
    <div class= "banner-line my-5">
      <h3> Already registered? <%= link_to "Log in", new_user_session_path, class: "logo-button" %> to get some help </h3>

    </div>
  </div>
</div>
