<div class="wrapper">
  <div class="banner mb-3">
    <div class= "banner-line">
      <h3> Buying a used vehicle can be a daunting task, you could use some </h3>
      <%= link_to "wheelp", new_user_registration_path, class: "big-logo-button" %>
    </div>
    <div class="banner-card">
      <%= cl_image_tag("wheelp/TDV_M115_05_msexyv.svg", crop: :fill) %>
      <div class="banner-text" >
        <h4> Avoid the hassle and uncertainty and get an evaluation on the condition of the vehicle from the confort of your home. </h4>
        <%= link_to "Sign up", new_user_registration_path, class: "cta button" %>
      </div>
    </div>
  </div>
</div>
