<div class="contact-banner">
  <div class="contact-text">
    <h3>Ready to get started?</h3>
    <h4>Sign up or contact us</h4>
  </div>
  <div class="contact-button">
    <%= link_to "Sign up", new_user_registration_path, class: "cta-button hvr-pulse-grow " %>
    <%= link_to "Contact us", "#", class: "cta button hvr-pulse-grow " %>
  </div>
</div>
