.bookings-card {
  overflow: hidden;
  height: 140px;
  display: flex;
  align-items: center;
  max-width: 500px;
}

.bookings-card img {
  width: 130px;
  height: 130px;
  border-radius: 15px;
  margin: 0 10px 0 0;
}

.bookings-card p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.bookings-card .request-state {
  position: absolute;
  right: 5%;
}

.request-tag {
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 200;
  font-size: 16px;
  color: $color;
  border: $border;
  border-color: $color;
  background-color: $light-color;
  padding: 5px 15px;
  border-radius: 30px;
}

.action-tag {
  text-transform: lowercase;
  font-weight: 400;
  font-size: 16px;
  color: $white;
  // border: $border;
  // border-color: white;
  background-color: $color;
  padding: 10px 20px;
  border-radius: 40px;
  &:hover {
    background-color: $light-color;
  }

}

.action-buttons {
  display: flex;
  justify-content: space-around;

}

.dashboard-headers {
  h2 {
    text-align: center;
    margin-top: 20px;
  }
}

.expert-button {
  text-align: center;
  margin-top: 20px;
}

// expert-card-styling
.bookings-card {
  a {
    display: flex;
    justify-content: center;
  }
}

.decline-btn {
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 16px;
  color: $white;
  border: $border;
  border-color: white;
  background-color: $light-gray;
  padding: 10px 20px;
  border-radius: 40px;
  &:hover {
    color: $gray;
    background-color: $light-color;
  }
}

.request-state {
  margin: 0 auto;
}

.request-state-expert {
  margin: 0 auto;
  right: 10%;
  position: absolute;
}

.position-rel {
  position: relative;
}

.booking-card-status {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  min-width: 150px;
  span {
    font-weight: 800;
  }
}
