.bookings-card {
  overflow: hidden;
  height: 140px;
  display: flex;
  align-items: center;
  max-width: 500px;
}

.bookings-card img {
  height: 100%;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.bookings-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.bookings-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.bookings-card .info {
  padding: 16px;
}

.bookings-card .request-state {
  position: absolute;
  right: 5%;
}

.request-tag {
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 200;
  font-size: 16px;
  color: $color;
  border: $border;
  border-color: $color;
  background-color: $light-color;
  padding: 5px 15px;
  border-radius: 30px;
}

.request-accepted {
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 200;
  font-size: 16px;
  color: $white;
  border: $border;
  border-color: $color;
  background-color: $color;
  padding: 5px 15px;
  border-radius: 30px;
}

.action-tag {
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 200;
  font-size: 16px;
  color: $white;
  border: $border;
  border-color: white;
  background-color: $color;
  padding: 5px 15px;
  border-radius: 30px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.dashboard-headers {
  h2 {
    text-align: center;
    margin-top: 20px;
  }
}

.expert-button {
  text-align: center;
  margin-top: 20px;
}

// expert-card-styling
.bookings-card {
  a {
    display: flex;
    justify-content: center;
  }
}

.decline-btn {
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 200;
  font-size: 16px;
  color: white;
  border: $border;
  border-color: white;
  background-color: $light-color;
  padding: 5px 15px;
  border-radius: 30px;
}

.request-state {
  margin: 0 auto;
}

.request-state-expert {
  margin: 0 auto;
  right: 10%;
  position: absolute;
}

.position-rel {
  position: relative;
}
