.chatroom-container {
  height: 80vh;
  border-radius: 15px;
  box-shadow: $box-shadow;
  position: relative;
  padding: 20px 20px 10px 20px;
  a {
    text-decoration: none;
  }
  input {
    border-radius: 15px;

  }
}
.messages {
  height: 87%;
  margin-bottom: 20px;
  overflow: scroll;
}
.chat-form {
  height:13%;
}
.close-chat {
  position: absolute;
  color: $gray;
  right: 12px;
  top: 3px;

}

.inner-chat-container {
  height: 100%;
}

.messge-cont {
  margin: 5px;
}

.single-message {
  padding: 5px 10px;
  margin: 5px 5px;
  width: 75%;
  border-radius: 15px;
}

.your-message {
  background-color: $background-color;
  box-shadow: $shadow;
}
.not-your-message {
  background-color: $background-color;
  box-shadow: $shadow;
}

#chat-submit {
  font-size: 16px;
}
#chat-form {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#chat-input {
  flex-grow: 1;
}
