.cta-button .hvr-pulse-grow {
  text-transform: lowercase;
  text-decoration: none;
  border: 3px solid $color;
  color: $color;
  text-align: center;
  background-color: $background-color;
  font-weight: 800;
  min-width: 100px;
  border-radius: 30px;
  font-size: 20px;
  display: inline-block;
  padding: 5px 15px;
  cursor: pointer;
  font-family: $wheelp-font;
  box-shadow: $color-shadow;
  min-width: 180px;
}

@media only screen and (max-width: 767px) {
  .cta-button{
    min-width: 80px;
  }
}

// SUBMIT BUTTON
.submit-button {
  font-family: $wheelp-font;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 200;
  font-size: 20px;
  color: $color;
  border: $border;
  border-color: $color;
  background-color: transparent;
  padding: 5px 15px;
  border-radius: 30px;
}

.submit-button:hover {
  color: $color;
  background-color: $color;
  border: $border;
  border-color: $color;
}

.submit-button a {
  position: absolute;
  top: 3px;
}

// ACTION

.action-button {
  text-transform: lowercase;
  text-decoration: none;
  border: 3px solid $color;
  color: $background-color;
  background-color: $color;
  font-weight: 800;
  min-width: 100px;
  border-radius: 30px;
  font-size: 20px;
  display: inline-block;
  padding: 5px 15px;
  cursor: pointer;
  font-family: $wheelp-font;
  box-shadow: $color-shadow;
  min-width: 200px;
}
.action-button:hover {
  border: $border;
  border-color: $gray;
  color: $background-color;
  background-color: $gray;
  box-shadow: $box-shadow;
}
