.cta {
  background-color: $color;
  color: $dark-color;
}
@media only screen and (max-width: 767px) {
  .cta {
    min-width: 80px;
  }
}

.button {
  max-width: 12rem;
  min-width: 6rem;
  text-align: center;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.regular {
  background-color: $gray;
  color: $background-color;
  &:hover {
    background-color: $dark-color;
  }
}

// ACTION

.action-button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  color: $font-color;
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  font-weight: 800;
}

.rounded {
  border-radius: 3rem;
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-size: 1rem;
  font-weight: 700;
}

.custom-shadow {
  filter: drop-shadow($box-shadow);
}
