.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $background-color;
  color: $color;
  text-align: center;
  font-size: small;
  padding: 30px;
  &-copyright {
    font-size: 14px;
    margin-top: 30px;
  }
}

.contact-message {
  font-size: larger;
  font-weight: bold;
}

.footer-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
  a {
    color: $color;
  }

  i {
    font-size: 30px;
    margin: 0 20px;
  }
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  p {
    font-size: 12px;
  }

 &-socials {
  a {
    margin: 15px;
  color: $color;

  }
  i {
    font-size: 20px;
  }
 }
}
