.container .form {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
}

$ruler: 16px;

// button, input {
//   border: 0;
//   outline: 0;
//   font-size: $ruler;
//   border-radius: $ruler*20;
//   padding: $ruler;
//   background-color: $background-color;
//   text-shadow: 1px 1px 0 white;
// }

// label {
//   display: block;
//   margin-bottom: $ruler*1.5;
//   width: 100%;
// }

// input {
//   margin-right: $ruler/2;
//   box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px white;
//   width: 100%;
//   box-sizing: border-box;
//   transition: all 0.2s ease-in-out;
//   appearance: none;
//   -webkit-appearance: none;

//   &:focus {
//     box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px white;
//   }
// }

// button, .icon-button {
//   color:#61677C;
//   font-weight: bold;
//   box-shadow: -2px -2px 5px white, 2px 2px 5px $color-shadow;
//   transition: all 0.2s ease-in-out;
//   cursor: pointer;
//   font-weight: 600;

//   &:hover {
//     box-shadow: -2px -2px 5px white, 2px 2px 5px $color-shadow;
//   }

//   &:active {
//     box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px white;
//   }

//   .icon {
//     margin-right: $ruler/2;
//   }

//   &.unit {
//     border-radius: $ruler/2;
//     line-height: 0;
//     width: $ruler*3;
//     height: $ruler*3;
//     display:inline-flex;
//     justify-content: center;
//     align-items:center;
//     margin: 0 $ruler/2;
//     font-size: $ruler*1.2;

//     .icon {
//       margin-right: 0;
//     }
//   }
// }


.search-bar-container {
  input,
  button {
    color: #fff;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
  }

  #cover {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 550px;
    padding: 35px;
    margin: -83px auto 0 auto;
    border-radius: 20px;
    transform: scale(0.6);
  }

  input[type="text"] {
    width: 100%;
    height: 5.5rem;
    font-size: 2rem;
    line-height: 1;
    font-family: $body-font;
  }

  input[type="text"]::placeholder {
    color: $gray;
  }

  #s-cover {
    width: 1px;
    padding-left: 35px;
  }

  .codepen {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
  }

}
