.frame {
  background-color: $background-color;
  box-shadow: $box-shadow;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
}

.title-frame {
  color: $font-color;
  margin-inline: 1rem;
  h6{
    filter: drop-shadow($shadow);
    border-color: $background-color;
    font-size: 2rem;
  }
}

.title-frame mark {
  padding: 0.2rem 0.7rem;
  text-transform: lowercase;
  background-color: $background-color;
  color: $color;
  font-family: $wheelp-font;
  border-radius: 1.2em;
}

// FLIP FRAME

.box {
  width: 700px;
  height: 300px;
}

.box .front, .box .back {
  padding: 1rem;
  position: absolute;
  width: 700px;
  height: 300px;
  background-color: white;
  backface-visibility: hidden; cursor: pointer;
  border-radius: 2rem;
  box-shadow: $shadow;
  transition: transform .4s;
}

.box .front {
  border-radius: 2rem;
}

.box .back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transform: rotateX(-180deg);
}

.box:hover .front {
  transform: rotateX(180deg);
  border: $subtle;
}

.box:hover .back {
  transform: rotateX(0);
  border: $subtle;

}
