.frame {
  background-color: $background-color;
  box-shadow: $box-shadow;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1.5rem;
}

.title-frame {
  color: $font-color;
  margin-inline: 1rem;
  h6 {
    filter: drop-shadow($shadow);
    border-color: $background-color;
    font-size: 2rem;
  }
}

.title-frame mark {
  padding: 0.2rem 0.7rem;
  text-transform: lowercase;
  background-color: $background-color;
  color: $color;
  font-family: $wheelp-font;
  border-radius: 1.2em;
}

.top-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
