// PROCESS
.homecard {
  display: flex;
  align-items: baseline;
  .number {
    font-size: 160px;
    font-weight: 900;
    color: $background-color;
  }
}

.text {
  font-family: $body-font;
  color: $gray;
  h2 {
    font-size: 32px;
    font-weight: 700;
  }
  p {
    font-size: 22px;
    font-weight: 500;
  }
}

.process {
  display: flex;
  justify-content: center;
}
// HOME CARD

.homecard-left{
  display: flex;
  padding: 30px;
  height: 400px;
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}
.homecard-right{
  display: flex;
  flex-direction: row-reverse;
  height: 400px;
  text-align: right;
  padding: 30px;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}
// MARKS

.homepage_cards {
  mark {
    padding: 0.2rem 0.7rem;
    text-transform: lowercase;
    background-color: $background-color;
    color: $color;
    font-family: $wheelp-font;
    border-radius: 1.2em;
  }
  .illustration {
    max-width: 190px;
  }
}

.homecard{
  mark {
    padding: 0.2rem 0.7rem;
    text-transform: lowercase;
    background-color: $background-color;
    color: $color;
    font-family: $wheelp-font;
    border-radius: 1.2em;
  }
}
