.icon-button {
  color: $color;
  box-shadow: $box-shadow;
  background-color: white;
  border: $border;
  border-radius: 20px;
  padding: 5px 15px;
  border-color: $color;
}

.subtle-button {
  color: transparent;
  background-color: $gray;
  padding: 5 15px;
  border-radius: 20px;
  box-shadow: $box-shadow;
  width: 2rem;
}

.icon-subtle-button {
  width: 2rem;
  color: $gray;
}
