.icon-button {
  border: $border;
  background-color: $background-color;
  border-color: $color;
  border-radius: 50%;
  &:hover {
    border-color: $color;
    background-color: $color;
  }
}

.backbutton .position {
  position: relative;
}
