
.grey-button {
  font-family: $body-font;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  color: $font-color;
  border: 1px solid;
  border-color: white;
  background-color:  rgb(230, 230, 230);
  padding: 5px 15px;
  border-radius: 30px;
}

.grey-button {
  background-color: sgrey;
}

// LOGO BUTTON BLENDED

.big .logo-button {
  font-weight: 300;
}

.logo-button {
  font-family: $wheelp-font;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 300;
  color: $font-color;
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

.logo-button:hover {
  font-weight: 500;
  color: $font-color;
}

.submit-button {
  background-color: $background-color;
  box-shadow: $box-shadow;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  color: $font-color;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  &:hover {
    box-shadow: -2px -2px 5px $background-color, 2px 2px 5px #BABECC;
  }
  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $background-color;
  }
}


.input {
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px $background-color;
  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $background-color;
  }
}

.concave {
  background-color: $background-color;
  box-shadow: $inverted-shadow;

}

.concave:hover {
  box-shadow: $concave;
  background-color: $concave-bg;
}
