.logo-button {
  font-family: $headers-font;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 200;
  font-size: 20px;
  color: white;
  border: $border;
  border-color: white;
  background-color: $color;
  padding: 5px 15px;
  border-radius: 30px;
}

.logo-button:hover {
  font-family: $headers-font;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 200;
  color: white;
  border: $border;
  border-color: white;
  background-color: $dark-color;
}
