.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: $body-font;
}

.mapbox-map {
  box-shadow: $shadow;
  position: sticky;
  top: 0;
  mardin-top: 1rem;
  margin-left: 1rem;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
}

.showmap {
  max-width: 400px;
  border-radius: 15px;
  box-shadow: $shadow;
  height: 400px;
  justify-content: right;
}
