.mapboxgl-popup {
  max-width: 100px;
  max-height: 50px;
  border-radius: 30px;
}

.mapboxgl-map {
  box-shadow: $shadow;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: $body-font;
}

.mapbox-map {
  box-shadow: $shadow;
  position: sticky;
  top: 0;
  margin-top: 1rem;
  margin-left: 1rem;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
}

.showmap {
  box-shadow: $shadow;
}
