
.navbar-wheelp {
  padding: 4px;
}

.dropdown {
  padding: 6px;
}

.dropdown-toggle {
  cursor: pointer;
  &:hover {
    color: $color;
  }
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.welcome-text {
  padding: 8px;
  margin: 8px;
  align-self: center;
  h6 {
    margin: 0;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  p {
    margin: 0;
    font-weight: 600;
    img {
      width: 20px;
    }
  }
}
// NAV TABS

.tab {
  // display: flex;
  // align-self: center;
  cursor: pointer;
  text-decoration: none;
  padding: 8px;
  margin: 8px;
  color: $dark-color;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.tab:hover {
  color: $color;
}

.tab .active {
  opacity: 1;
  border-bottom: 3px solid $dark-color;
  color: $color;

}
