
.navbar-wheelp {
  padding: 4px;
  margin-bottom: 1em;
}

.dropdown {
  padding: 6px;
}

.dropdown-toggle {
  cursor: pointer;
  &:hover {
    color: $color;
  }
}

// .navbar-content-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   background: $light-color;
// }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

// NAV TABS

.tab {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  padding: 8px;
  margin: 8px;
  color: $dark-color;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.tab:hover {
  color: $color;
}

.tab .active {
  opacity: 1;
  border-bottom: 3px solid $dark-color;
  color: $color;

}
