.regular-button {
  background-color: $dark-gray;
  border-radius: 1rem;
  color: white;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: $subtle;
  box-shadow: $shadow;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.regular-button:hover {
  color: white;
}


.link {
  max-width: fit-content;
  display: inline-flex;
  margin: auto;
  padding: 0.5rem 0.75rem;
  font-family: sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: $font-color;
  position: relative;
  transition: all .3s cubic-bezier(.2, 0, 0, 1);
  z-index: 1;

  &:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
    left: 1.25rem;
    background-color: $dark-gray;
    transition: all .3s cubic-bezier(.2, 0, 0, 1);
    transform-origin: bottom center;
    z-index: -1;
    border-radius: 1rem;
  }

  &:hover {
    color: $background-color;
    border-radius: 1rem;
    &:after {
      right: 0;
      left: 0;
      height: 100%;
    }
  }
}
