.regular-button {
  background-color: $dark-gray;
  border-radius: 1rem;
  color: white;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: $subtle;
  box-shadow: $shadow;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.regular-button:hover {
  color: white;
}


.link {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: $color;
  font-family: $body-font;
  font-size: 16px;
  margin: 2rem;
  &::after {
    content: "";
    background: $light-color;
    position: absolute;
    left: 12px;
    bottom: -6px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    z-index: -1;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  }
  &:hover:after {
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
  }
}
