// CARDS IN SHOW PAGE

.reviews .frame {
  margin-bottom: 1rem;
  padding: 1rem;

}

.review-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  .user-centered-small {
    margin-right: 1.5rem;
  }
}

.review-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  .rating {
    margin-bottom: 1rem;
  }
  svg {
    height: 1rem;
  }
  .text p {
    font-size: 16px;
  }
}
