.search-bar-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  p {
    text-transform: lowercase;
    font-size: 14px;
    color: $light-color;
    margin: 0px;
  }
}

.search-bar{
  display: flex;
  justify-content: center;
  align-items: baseline;
  .icon-button {
    margin-right: 10px;
    padding: 0.375rem 0.75rem;
  }
}
#query {
  padding-top: 20px;
  padding-bottom: 25px;
  width: 50vw;
  height: 40px;
  font-size: 12px;
  color: $gray;
}

.search-bar .search-input {
  width: 400px;
}

.form-control {
  border-radius: 30px !important;
  min-width: 247px;
  width: 400px;
  .mapboxgl-ctrl-geocoder {
    box-shadow: none;
    background-color: none;
  }
}

#service {
  height: 1.5rem;
  background-color: $light-color;
  svg {
    fill: $color;
  }
}
