.search-bar-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  p {
    text-transform: lowercase;
    font-size: 14px;
    color: $sublte-gray;
    font-family: $wheelp-font;
    margin: 0px;
  }
}

.search-bar{
  display: flex;
  justify-content: center;
  align-items: baseline;
  .icon-button {
    margin-right: 10px;
    padding: 0.375rem 0.75rem;
  }
}
#query {
  box-shadow: $shadow;
  border-radius: 20px;
  border: $subtle;
  padding-top: 20px;
  padding-bottom: 25px;
  width: 45vw;
  height: 40px;
  font-size: 12px;
  color: $gray;
}

.service_address {
  display: block;
  width: 400px !important;
  margin-right: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  .form-control {
    background-color: $concave-bg;
    filter: drop-shadow($concave);
    border-radius: 1rem;
  }
}

.search-bar .search-input {
  width: 400px;
}
