.services-map-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services-list {
  display: flex;
  flex-direction: column;
}
.service-card {
  width: 550px;
}

.service-card:hover{
  border: $subtle;
  border-color: rgb(214, 214, 214);
}

.service-card img {
  border-radius: 15px;
  width: 160px;
  height: 160px;
  margin-bottom: 3px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  .reviews-info p{
    margin: 0px;
  }
}

.right-side {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  h3 {
    font-size: 18px;
  }
  h5 {
    font-size: 12px;
  }
}
.price-tag {
  text-decoration: none;
  align-items: center;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  color: $color;
}

// WHEELPER

.vertical-card {
  width: 300px;
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: 20px;
  background: $background-color;
  box-shadow: 0 3px 7px #dfdfdf;
}

.vertical-card:hover {
  border-color: $color;
  border: $border;
}

.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background: #f0f0f0;
  img {
    border-radius: 20px;
  }
}

.product-image img {
  width: 300px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
}

.product-category {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: $dark-color;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: $color;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-card-line {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
