.show-gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin: 1.5rem;
  justify-items: stretch;
}

.show-service-card {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 850px;
}

.show-service-left {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  .category-tag {
    color: #F6F2FF;
    background-color: gray;
    border-radius: 2rem;
    display: inline;
    text-align: center;
    margin-bottom: 1rem;
    p {
      margin: 0px;
      text-transform: uppercase;
      padding: 0.5rem 1rem;
      font-weight: 600;
      font-size: 16px;
    }
  }
  img {
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 30rem;
  }
}

.show-card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: baseline;
  .price {
    font-size: 18px;
    font-weight: 700;
    color: $color;
    margin-left: 150px; // changed
  }
  .availabilty {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 3rem;
  }
  .bottom {
    display: block;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
  }
}

.center-button {
  display: flex;
  justify-content: center;
}

.reviews .title-frame {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.star-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
// last changes
.count {
  font-weight: 400;
  font-size: 20px;
}
