.service-card {
  width: 550px;
  padding: 25px;
  background-color: $light-gray;
  border-radius: 10px;
  box-shadow: $shadow;
}

.service-card img {
  border-radius: 15px;
  width: 160px;
  height: 160px;
  margin-bottom: 3px;
}

.service-card h6 {
  color: $color;
  font-weight: 300;
}

.right-side {
  color: black !important;
  text-decoration: none;
  font-family: $body-font;
  h3 {
    font-size: 18px;
  }
  h5 {
    font-size: 12px;
  }
}
.price-tag {
  color: $color;
  text-decoration: none;
  font-size: 8px;
  font-weight: 500;
  background-color: $background-color;
  padding: 3px;
  border-radius: 50%;
}
.service-card

// WHEELPER

.vertical-card {
  width: 300px;
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: 20px;
  background: $light-gray;
  box-shadow: 0 3px 7px #dfdfdf;
}

.badge {
  position: absolute;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  background: $color;
  color: white;
}

.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background: #f0f0f0;
  img {
    border-radius: 20px;
  }
}

.product-image img {
  max-width: 100%;
  max-height: 100%
}

.product-category {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: $dark-color;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: $color;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-card-line {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
